html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20em;
}

footer {
  background-color: #30cfd0;
}

#logo {
  font-family: "Rubik", sans-serif;
}

#works {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-family: "Rubik", sans-serif;
}

.navbar {
  background-color: #330867;
}

.jumbotron {
  text-align: end;
}

.parrafo-exp {
  text-justify: auto;
}

.carousel-indicators .active {
  background-color: black;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-weight: 300;
}
